
#vanta-bg {
    width: 100%;
    height: 208px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    color: white;
    overflow: hidden;
  }
html,body {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
#images
{
    margin-top: 220px;
    padding-top: 30px;
    scroll-margin-top: 220px;
    padding-bottom: 2px;
    background-color: rgba(1, 0, 0, 0.93);
}
.text_head
{
    font-size: 63px;
    font-weight: bold;
    color: white;
    margin: 0;
    font-family:'Poppins',sans-serif;
    text-align: center;
    z-index: 1;
}
.navbar
{
    position: fixed;
    top: 200px;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 25px;
    z-index: 1000;
    background-color: #222b32;
    padding: 10px 0;
}

.navbar a
{
    position: relative;
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    padding: 8px 15px;
    transition: color 0.3s;
    z-index: 1;
    
}
.navbar a::after
{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 4px;
    width: 0;
    height: 4px;
    background: linear-gradient(45deg,#d41138,#0514df);
    border-radius: 4px;
    transition: width 0.3s ease;
}
.navbar a:hover::after
{
    width: 100%;
}
.heads
{
    text-align: center;
    font-size: 45px;
    margin-top: 30px;
    color: white;
}
.heads_a
{
    text-align: center;
    font-size: 45px;
    margin-top: 30px;
    color: white;

}
.heads_link
{
    text-align: center;
    font-size: 45px;
    color: white;
}
.link_sub-h
{
    margin-left: 30px;
    color: white;
}
.link-para
{
    margin: 10px 0 20px 30px;
    font-size: 17px;
    color: white;
}
.sub_heads
{
    margin-left: 30px;
    color: #ffffff;
}
.para
{
    margin: 10px 0 20px 30px;
    font-size: 17px;
    color: white;
}
.code
{
    background: #e6d7d7;
    padding: 3px 6px;
    border-radius: 4px;
    font-family: monospace;
}
.pre
{
    background: #e6d7d7;
    padding: 10px;
    border-radius: 5px;
    overflow-x: auto;
    margin-left: 30px;
    margin-right: 30px;
    font-size: 15px;
}
#links
{
    background-color: #010a0f; 
    padding-top: 2px;
    padding-bottom: 2px;
    scroll-margin-top: 240px;
}
#list
{
    background-color: rgba(0, 0, 0, 0.899);
    padding-top: 2px;
    padding-bottom: 2px;
    scroll-margin-top: 240px;
}

.img_html
{
    width: 200px;
    height: 100px;
    border-radius: 8px;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}
.img_html:hover
{
    transform: scale(1.05);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
}
#about
{
    background-color: rgba(4, 3, 1, 0.899);
    padding-top: 2px;
    padding-bottom: 2px;
    scroll-margin-top: 240px;
}
.dev_team
{
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
    margin-top: 30px;
}
.dev-card
{
    text-align: center;
    width: 220px;
    padding: 10px;
}
.dev_team img
{
    width: 200px; 
    height: 200px;  
    object-fit: cover; 
    border-radius: 50%; 
    border: 3px solid rgb(255, 255, 255);
    box-shadow: 0 4px 8px rgba(172, 47, 47, 0.2);
}
.dev-card h3 
{
    margin: 15px 0 5px;
    font-size: 18px;
    font-weight: bold;
}
  
.dev-card p 
{
    margin: 2px 0;
    font-size: 14px;
    color: #ffffff;
}
#contact
{
    scroll-margin-top: 240px;
}
.footer 
{
    background: #000305ee;
    color: white;
    padding: 20px 0;
    text-align: center;
}
.footer-content 
{
    max-width: 900px;
    margin: auto;
}
.social-icons 
{
    margin-bottom: 10px;
}
.social-icons a 
{
    color: white;
    font-size: 40px;
    margin: 0 12px;
    transition: all 0.3 ease-in-out;
    cursor: pointer;
}
.social-icons a:hover 
{
    color: #ffe600;
    transform: scale(1.2);
}
.footer p 
{
    margin: 5px 0;
    font-size: 20px;
}
.footer a 
{
    color: rgb(229, 229, 229);
    text-decoration: none;
}
.footer a:hover 
{
    text-decoration: underline;
}
.button-css
{
    border-radius: 13px 12px;
    border-color: red;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    padding-left: 4px;
    padding-right: 4px;
    font-family: 'Courier New', Courier;

}
.button-css:hover
{
    transform: scale(1.05);
    box-shadow: 10px 10px 25px rgba(209, 4, 4, 0.3);
    color: #1a6ea7;
}

  
